.row{
    width: 100%;
}
.row:after{
    content: '';
    clear: both;
}

.col-1, .col-2, .col-3{
    float: left;
}
.col-1{
    width: 25%;
}
.col-2{
    width: 50%;
}
.col-3{
    width: 75%;
}

#debug{
    overflow-y: scroll;
    max-height: 600px;
}
